In [23]:
import numpy as np
import pandas as pd

In [24]:
pd.Series([1, 2, np.nan, 4, 5, 5])

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
5    5.0
dtype: float64

In [25]:
dates = pd.date_range("20220201", periods=6)
dates

DatetimeIndex(['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04',
               '2022-02-05', '2022-02-06'],
              dtype='datetime64[ns]', freq='D')

In [26]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=["Cat Empire", "USSR", "Great Baguette", "Ice Empire"])
df

            Cat Empire      USSR  Great Baguette  Ice Empire
2022-02-01   -1.002923  2.276943       -2.120761    0.089917
2022-02-02   -0.535817 -0.129894        2.613390   -0.879605
2022-02-03   -1.166721 -1.298189       -0.840328    0.030876
2022-02-04    2.162794  1.327777        0.697530    0.045207
2022-02-05    0.035782 -1.353468       -0.919780    0.590796
2022-02-06    1.739445  0.218944        0.657338   -1.587754

In [27]:
with open('ResourceList.txt') as f:
    lines = f.readlines()
    
Cities = [line.split('~')[0].strip() for line in lines]

Oil = []
for line in lines:
    if (line.find('oil') != -1):
        Oil.append(line[line.find('oil')-4:line.find('oil')-1])
    else:
        Oil.append(np.nan)
        
Stone = []
for line in lines:
    if (line.find('stone') != -1):
        Stone.append(line[line.find('stone')-4:line.find('stone')-1])
    else:
        Stone.append(np.nan)
        
Copper = []
for line in lines:
    if (line.find('copper') != -1):
        Copper.append(line[line.find('copper')-4:line.find('copper')-1])
    else:
        Copper.append(np.nan)
        
Wood = []
for line in lines:
    if (line.find('wood') != -1):
        Wood.append(line[line.find('wood')-4:line.find('wood')-1])
    else:
        Wood.append(np.nan)
        
Tungsten = []
for line in lines:
    if (line.find('tungsten') != -1):
        Tungsten.append(line[line.find('tungsten')-4:line.find('tungsten')-1])
    else:
        Tungsten.append(np.nan)
        
Aluminum = []
for line in lines:
    if (line.find('aluminum') != -1):
        Aluminum.append(line[line.find('aluminum')-4:line.find('aluminum')-1])
    else:
        Aluminum.append(np.nan)
        
Gold = []
for line in lines:
    if (line.find('gold') != -1):
        Gold.append(line[line.find('gold')-4:line.find('gold')-1])
    else:
        Gold.append(np.nan)
        
Iron = []
for line in lines:
    if (line.find('iron') != -1):
        Iron.append(line[line.find('iron')-4:line.find('iron')-1])
    else:
        Iron.append(np.nan)
        
Uranium = []
for line in lines:
    if (line.find('uranium') != -1):
        Uranium.append(line[line.find('uranium')-4:line.find('uranium')-1])
    else:
        Uranium.append(np.nan)

In [28]:
resource = pd.DataFrame(
    {
        "Iron": Iron,
        "Oil": Oil,
        "Stone": Stone,
        "Aluminum": Aluminum,
        "Gold": Gold,
        "Tungsten": Tungsten,
        "Uranium": Uranium,
        "Copper": Copper,
        "Wood": Wood
    },
index=Cities)
resource

           Iron  Oil Stone Aluminum Gold Tungsten Uranium Copper Wood
Urumqi      NaN  0.2   0.8      NaN  NaN      NaN     NaN    NaN  NaN
Lanzhou     NaN  0.1   0.3      NaN  NaN      NaN     NaN    NaN  NaN
Hohhot      0.4  NaN   0.3      NaN  NaN      NaN     NaN    NaN  NaN
Xining      NaN  0.1   0.7      NaN  NaN      NaN     NaN    NaN  NaN
Yinchuan    NaN  0.2   0.4      NaN  NaN      NaN     NaN    NaN  0.1
...         ...  ...   ...      ...  ...      ...     ...    ...  ...
Khulna      NaN  NaN   NaN      NaN  NaN      NaN     NaN    NaN  0.2
Barisal     NaN  NaN   0.1      NaN  NaN      NaN     NaN    NaN  0.3
Chittagong  NaN  1.0   0.2      NaN  NaN      NaN     NaN    NaN  0.7
Dhaka       NaN  NaN   NaN      NaN  NaN      NaN     NaN    NaN  0.4
New Dehli   NaN  NaN   0.2      NaN  NaN      NaN     NaN    0.3  0.5

[114 rows x 9 columns]

In [29]:
resource.to_csv("output1.csv")

In [30]:
OilB = []
OilCount = 0
for x in Oil:
    if float(x) > 0.1:
        OilB.append('oil mine')
        OilCount += 1
    else:
        OilB.append(' ')

StoneB = []
StoneCount = 0
for x in Stone:
    if float(x) > 0.1:
        StoneB.append('quarry')
        StoneCount += 1
    else:
        StoneB.append(' ')
        
CopperB = []
CopperCount = 0
for x in Copper:
    if float(x) > 0.1:
        CopperB.append('copper mine')
        CopperCount += 1
    else:
        CopperB.append(' ')
        
WoodB = []
WoodCount = 0
for x in Wood:
    if float(x) > 0.1:
        WoodB.append('logging')
        WoodCount += 1
    else:
        WoodB.append(' ')
        
IronB = []
IronCount = 0
for x in Iron:
    if float(x) > 0.1:
        IronB.append('iron mine')
        IronCount += 1
    else:
        IronB.append(' ')
        
GoldB = []
GoldCount = 0
for x in Gold:
    if float(x) > 0.1:
        GoldB.append('gold mine')
        GoldCount += 1
    else:
        GoldB.append(' ')
        
TungstenB = []
TungstenCount = 0
for x in Tungsten:
    if float(x) > 0.1:
        TungstenB.append('tungsten mine')
        TungstenCount += 1
    else:
        TungstenB.append(' ')
        
AluminumB = []
AluminumCount = 0
for x in Aluminum:
    if float(x) > 0.1:
        AluminumB.append('aluminum mine')
        AluminumCount += 1
    else:
        AluminumB.append(' ')
        
UraniumB = []
UraniumCount = 0
for x in Uranium:
    if float(x) > 0.1:
        UraniumB.append('uranium mine')
        UraniumCount += 1
    else:
        UraniumB.append(' ')

In [31]:
mining = pd.DataFrame(
    {
        "Iron": IronB,
        "Oil": OilB,
        "Stone": StoneB,
        "Aluminum": AluminumB,
        "Gold": GoldB,
        "Tungsten": TungstenB,
        "Uranium": UraniumB,
        "Copper": CopperB,
        "Wood": WoodB
    },
index=Cities)
mining

,Iron,Oil,Stone,Aluminum,Gold,Tungsten,Uranium,Copper,Wood
Urumqi,,oil mine,quarry,,,,,,
Lanzhou,,,quarry,,,,,,
Hohhot,iron mine,,quarry,,,,,,
Xining,,,quarry,,,,,,
Yinchuan,,oil mine,quarry,,,,,,
...,...,...,...,...,...,...,...,...,...
Khulna,,,,,,,,,logging
Barisal,,,,,,,,,logging
Chittagong,,oil mine,quarry,,,,,,logging
Dhaka,,,,,,,,,logging
New Dehli,,,quarry,,,,,copper mine,logging

In [32]:
print(f'With a total of {OilCount+CopperCount+IronCount+GoldCount+TungstenCount+AluminumCount+UraniumCount} Mines {StoneCount} Quarries {WoodCount} Loggings or **${(OilCount+CopperCount+IronCount+GoldCount+TungstenCount+AluminumCount+UraniumCount)*200+StoneCount*20+WoodCount*10},000.00**')

With a total of 72 Mines 59 Quarries 79 Loggings or **$16370,000.00**

In [33]:
combine = pd.concat([resource, mining], axis=1)
mining.to_csv("output2.csv")
combine.to_csv("output3.csv")
combine.to_excel("output.xlsx", sheet_name='Sheet1')